[model]
size_model = weights/size.pt
disease_model = weights/disease.pt

device = cpu
; can be cuda, 0, 1, etc.

size_confidence = 0.6
disease_confidence = 0.8
;0.6 <- to test

size_ripened_count = 10

input = test_tomato.mp4
output = test_results

detection_cooldown = 25
use_minutes = False
;if use_minutes is False detection_cooldown will be counted as seconds

show_stream = True
save_images = False

[chart]
output = test_results
subdir = charts
save = False

[email]
smtp_server = smtp.gmail.com
port = 25
; 25 not recommended, 587 secure, 465 ssl
sender = user@gmail.com
password = !password%%2024
receiver = receiver@gmail.com

[database]

host = localhost
port = 3307
name = tomato
username = root
password = 123456
use_database = False

[ftp]
server = 0.0.0.0
user = user
port = 2121
password = 123456
use_ftp = False
