[model]
size_model = weights/tomato_size_e100i416b4/best.pt
disease_model = weights/tomato_disease_e40i416b4/best.pt

size_confidence = 0.6
disease_confidence = 0.8
;0.6 <- to test

size_ripened_count = 10

input = test_tomato.mp4
output = test_results

detection_cooldown = 5

show_stream = True
save_images = True

[chart]
output = test_results
subdir = charts
save = True

[email]
smtp_server = smtp.gmail.com
port = 25
; 25 not recommended, 587 secure, 465 ssl
sender = myemail@gmail.com
password = !somepass%%2020
receiver = receiver@gmail.com

[database]

host = localhost
port = 3307
name = tomato
username = root
password = 123456